body{
	font-family:Arial, Helvetica, sans-serif;
}

*{
	/* get rid of default padding and margin */
	margin:0;
	padding:0;
	list-style-type:none;
}

header, nav, section, article, footer, aside{
	display: block;
}

/* centering website */
.container{
	width:1000px;
	margin: 0 auto;
}

.clear{
	clear:both;
}

.logo{
	width:150px;
	height:109px;
	float:left;
}

.top_nav{
	float:left;
	width:850px;
}

.top_nav li{
	float:left;
	padding: 35px 20px;
}

/* Float aside and main section */
.left_side{
	float:left;
	width:700px;
}

.left_side article{
	border: 2px solid red;
	margin-right:10px;
	padding:5px;
}

.right_side{
	float:left;
	width:300px;
}

.right_side div{
	border: 2px solid blue;
	padding:10px;
	margin:0 0 10px;
}

.page_footer{
	clear:both;
	text-align:center;
}